<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Summarization</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
</head>

<body>

    <header style="background-color: #000000;"
        class="fixed inset-0 w-full flex flex-col justify-center justify-items-center content-center h-20 rounded-b-lg">
        <img src="/static/images/SynopserLogo.png" alt="Logo"
            class="object-contain w-28 self-center md:self-left md:w-35">
        <div class="self-center text-white">Data Summarization</div>
    </header>

    <section class="flex flex-wrap mt-20 w-full">
        <div class="w-full md:w-1/2">
            <form class="w-full flex flex-col md:h-screen" action="{{url_for('Summarize')}}" method="post">
                <textarea class="w-11/12 md:h-3/4 m-2 p-2 border-black rounded-lg border self-center justify-center"
                    name="data" id="data" cols="30" rows="10" placeholder="Enter your Data"
                    required="required">{{ original_data }}</textarea>
                <div class="flex self-center">
                    <h3>Summary Length</h3>
                    <input type="range" class="m-2" min="20" max="1000" name="maxL">
                </div>
                <div class="flex self-center">
                    <button class="m-1 bg-green-700 hover:bg-green-900 text-white font-semi-bold py-2 px-4 rounded-lg"
                        type="submit" onclick="Check()">Submit</button>
                    <button class="m-1 bg-red-700 hover:bg-red-900 text-white font-semi-bold py-2 px-4 rounded-lg"
                        type="reset">Clear</button>
                </div>
            </form>
        </div>
        <div class="w-full md:w-1/2">
            <div class="mt-2 flex flex-col w-full md:h-screen">
                <textarea style="background-color: #EDFFD2;"
                    class="w-11/12 border-green-600 rounded-lg p-2 border self-center justify-center md:h-3/4" rows="10"
                    cols="30" name="result" readonly placeholder="Your Summary">{{result}}</textarea>
                <div class="flex self-center">
                    <button
                        class="m-2 bg-blue-600 hover:bg-blue-800 text-white font-semi-bold py-2 px-4 rounded-lg self-center"
                        onclick="myFunction()">Copy text</button>
                    <button
                        class="m-2 bg-red-700 hover:bg-red-900 text-white font-semi-bold py-2 px-4 rounded-lg self-center"
                        onclick="clearResult()">Clear result</button>
                </div>
            </div>
        </div>
    </section>

    <script>
        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementsByName("result")[0];
    
            /* Select the text field */
            copyText.select();
    
            /* Copy the text inside the text field */
            document.execCommand("copy");
    
            /* Deselect the text field */
            window.getSelection().removeAllRanges();
    
            /* Optionally, provide user feedback */
            alert("Text copied to clipboard");
        }
    
        function clearResult() {
            /* Get the result textarea */
            var resultTextarea = document.getElementsByName("result")[0];
    
            /* Clear the content of the result textarea */
            resultTextarea.value = "";
        }
    </script>
    
    <script>
        function Check() {

            var reg = /<(.|\n)*>/g;

            if (reg.test(document.getElementById("data").value) == true) {
                var ErrorText = 'Make Sure You Provide Valid Data.';
                alert('Error Text');

            }
        }
    </script>
</body>

</html>

